.title {
  font-size: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner-img{
  /* background:url("../../../public/cool-background.png"); */
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 0 95%, 0 0);
  clip-path: polygon(100% 0, 100% 90%, 0 95%, 0 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  }
.title-home > h3 {
  text-align: center;
  color:#4285f4;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 40px;
}
.kush {
  color: #f7cc53;
}
.link {
 color: #42ba96;
}
.button-home {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.button-home a {
  flex-direction: column;
  text-decoration: none;
  border: 2px solid #f7cc53;
  border-radius: 20px;
  padding: 20px;
  text-transform: uppercase;
  color:black ;
  font-weight: bold;
  background: #f7cc53;
}
.button-home a:hover {
  background: #f7cc53;
  transition: 1.2s ease;
  color: white;
  border: 2px solid #fff;
}
.small-tagline {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.small-tagline p {
  color: #f7cc53;
  top: 50%;
  opacity: 0.7;
  margin-bottom: 30px;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social-media > img {
  width: 70px;
}
  @media (max-width: 640px){
    .title{
      font-size: 25px;
    }
  }